.CategoryComponent {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.CategoryComponent__circle {
  width: 80%;
  height: 80%;
  margin: 10%;
  background-color: #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CategoryComponent__circle span {
  display: inline-block;
  padding-top: .15rem;
}
