.ChooseListComponent__content {
  width: 100%;
  max-width: var(--single-col-max-width);
  margin: 0 auto;
}
.ChooseListComponent__content section:first-child {
  padding-top: 1rem;
}
.ChooseListComponent__content section {
  padding-top: 2rem;
}

.ChooseListComponent__title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  flex: 1;
}

.ChooseListComponent__openFormHeadline,
.ChooseListComponent__recentlyUsedHeadline {
  margin: 0 1rem 0.5rem;
}

.ChooseListComponent__recentlyUsed {
  list-style: none;
}
.ChooseListComponent__randomButton,
.ChooseListComponent__recentlyUsedLink {
  padding: 0 1rem;
}
.ChooseListComponent__randomButton {
  margin-top: 1rem;
}
.ChooseListComponent__randomButton > span {
  flex: 1;
  text-align: center;
}

.ChooseListComponent__openForm {
  display: flex;
  height: 3rem;
  border: solid var(--theme-color);
  border-width: 2px 0;
}
.ChooseListComponent__openForm > input {
  flex: 1;
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}
.ChooseListComponent__openForm > button {
  width: 3rem;
}

.ChooseListComponent__footer {
  font-size: 0.6rem;
  color: var(--text-deemphasized-color);
  max-width: var(--single-col-max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.ChooseListComponent__footer a,
.ChooseListComponent__footer a:link,
.ChooseListComponent__footer a:visited {
  color: inherit;
}

@media (min-width: 30rem) {
  .ChooseListComponent__openForm {
    border-width: 2px;
  }
  .ChooseListComponent__content section:first-child {
    padding-top: 0;
  }
}
