.ChooseCategoryComponent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  padding-bottom: 3rem;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 3rem env(safe-area-inset-left);
}
.ChooseCategoryComponent button {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid var(--theme-color);
  border-width: 2px 0 0;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  height: 3rem;
}
.ChooseCategoryComponent button.ChooseCategoryComponent__cancel {
  border-width: 2px 0;
  padding: .0 .5rem;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  .ChooseCategoryComponent {
    background: hsla(var(--text-color-hsl-value), .5);
  }
  .ChooseCategoryComponent__window {
    columns: 13rem;
    column-gap: 1rem;
    max-height: 100%;
    padding: 1.5rem 2rem;
    background: var(--background-color);
    margin: 3rem;
  }
  .ChooseCategoryComponent button {
    display: inline-flex;
    border: 0;
    background: var(--theme-color);
    color: #fff;
    margin: .5rem 0;
    padding-right: .5rem;
  }
  .ChooseCategoryComponent button.ChooseCategoryComponent__cancel {
    border: 0;
    background: var(--small-feature-color);
    color: var(--text-color);
  }
}
