.ChooseListComponent {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChooseListComponent__content {
  width: 100%;
  max-width: var(--single-col-max-width);
  padding: .5rem;
  margin-top: 3rem;
  margin-top: calc(3rem + env(safe-area-inset-top));
}

.ChooseListComponent__title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  flex: 1;
}

.ChooseListComponent__content section {
  margin: 2rem 0;
}

.ChooseListComponent__recentlyUsed {
  list-style: none;
}
.ChooseListComponent__randomButton, .ChooseListComponent__recentlyUsedLink {
  display: block;
  border: 0;
  background-color: var(--theme-color);
  line-height: 3rem;
  color: #fff;
  padding: 0 1rem;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
}
.ChooseListComponent__recentlyUsedLink {
  margin: .5rem 0;
}

.ChooseListComponent__openForm {
  display: flex;
  height: 3rem;
  border: 2px solid var(--theme-color);
}
.ChooseListComponent__openForm > input {
  flex: 1;
  border: 0;
  padding: .5rem;
  font-size: 1rem;
  font-family: inherit;
}
.ChooseListComponent__openForm > button {
  width: 3rem;
}

.ChooseListComponent__footer {
  font-size: .6rem;
  color: var(--text-deemphasized-color);
}
.ChooseListComponent__footer a, .ChooseListComponent__footer a:link, .ChooseListComponent__footer a:visited {
  color: inherit;
}
