.ChooseCategoryComponent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}
.ChooseCategoryComponent button {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid #4CAF50;
  border-width: 2px 0 0;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  height: 3rem;
}
.ChooseCategoryComponent button.ChooseCategoryComponent__cancel {
  border-width: 2px 0;
  padding: .0 .5rem;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  .ChooseCategoryComponent {
    background: rgba(0, 0, 0, .5);
  }
  .ChooseCategoryComponent__window {
    columns: 13rem;
    column-gap: 1rem;
    max-height: 100%;
    padding: 1.5rem 2rem;
    background: white;
    margin: 3rem;
  }
  .ChooseCategoryComponent button {
    display: inline-flex;
    border: 0;
    background: #4CAF50;
    color: #fff;
    margin: .5rem 0;
    padding-right: .5rem;
  }
  .ChooseCategoryComponent button.ChooseCategoryComponent__cancel {
    border: 0;
    background: #f7f7f7;
    color: black;
  }
}
