.Content {
  width: 100%;
  max-width: var(--single-col-max-width);
  margin: 0 auto;
}
.Content section:first-child {
  padding-top: 1rem;
}
.Content section {
  padding-top: 2rem;
}

.Title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  flex: 1;
}

.OpenFormHeadline,
.RecentlyUsedHeadline,
.RestorationCheckbox {
  margin: 0 1rem 0.5rem;
}

.RecentlyUsed {
  list-style: none;
}
.RandomButton {
  padding: 0 1rem;
}
.RandomButton {
  margin-top: 1rem;
}
.RandomButton > span {
  flex: 1;
  text-align: center;
}

.RecentlyUsedLink a {
  color: inherit;
  flex-grow: 1;
  text-decoration: none;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.RecentlyUsedLink button {
  width: 3rem;
  align-self: stretch;
}

.OpenForm {
  display: flex;
  height: 3rem;
  border: solid var(--theme-color);
  border-width: 2px 0;
}
.OpenForm > input {
  flex: 1;
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}
.OpenForm > button {
  width: 3rem;
}

.Footer {
  font-size: 0.6rem;
  color: var(--text-deemphasized-color);
  max-width: var(--single-col-max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
.Footer a,
.Footer a:link,
.Footer a:visited {
  color: inherit;
}

@media (min-width: 30rem) {
  .OpenForm {
    border-width: 2px;
  }
  .Content section:first-child {
    padding-top: 0;
  }
}
