.CreateItemComponent {
  min-height: 3rem;
  transition: min-height 200ms ease-in-out;
}
@media print {
  .CreateItemComponent {
    display: none;
  }
}
.CreateItemComponent--creatingItem {
  min-height: calc(12 * 3rem);
}
.CreateItemComponent__form {
  position: relative;
  display: flex;
  border: solid var(--theme-color);
  border-width: 2px 0;
}
.CreateItemComponent__form__inputWrapper {
  position: relative;
  min-height: calc(3rem - 4px);
  cursor: text;
  flex: 1;
  transition-property: min-height;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
.CreateItemComponent__form__inputWrapper:focus-within {
  box-shadow: 0 0 5px var(--focus-color), inset 0 0 5px var(--focus-color);
}
.CreateItemComponent__form--multiline .CreateItemComponent__form__inputWrapper {
  min-height: 10rem;
  max-height: 25rem;
}
.CreateItemComponent__form__inputWrapper > textarea,
.CreateItemComponent__form__inputWrapper__placeholder {
  display: block;
  border: 0;
  padding: calc(1rem - 2px) .5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-family: inherit;
  resize: none;
  width: 100%;
  color: var(--text-color);
}
.CreateItemComponent__form__inputWrapper > textarea {
  position: relative;
  z-index: 1;
  min-height: calc(3rem - 4px);
  max-height: 25rem;
  background: transparent;
}
.CreateItemComponent__form__inputWrapper > textarea:focus {
  box-shadow: none;
}
.CreateItemComponent__form__inputWrapper__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-deemphasized-color);
  user-select: none;
}
.CreateItemComponent__form__toggleMultiline {
  width: 3rem;
  height: calc(3rem - 4px);
  font-size: 1.5rem;
  border: 0;
  background: transparent;
  color: var(--text-deemphasized-color);
}
.CreateItemComponent__form__save {
  width: 3rem;
}
@media (min-width: 30rem) {
  .CreateItemComponent {
    min-height: 3.5rem;
  }
  .CreateItemComponent--creatingItem {
    min-height: calc(12 * 3.5rem);
  }
  .CreateItemComponent__form {
    border-width: 2px;
    margin-bottom: .5rem;
  }
}
