.CreateItemButtonComponent {
  position: relative;
  display: flex;
  align-items: stretch !important;
  width: 100%;
  min-height: 3rem;
  max-height: 8rem;
  height: auto;
  transition: padding-left 150ms;
}
.CreateItemButtonComponent.focused {
  padding-left: 2rem;
  z-index: 1;
}
.CreateItemButtonComponent::before {
  content: '➔ ';
  font-size: 1.3rem;
  position: absolute;
  height: 3rem;
  line-height: 3rem;
  left: 0.5rem;
  top: 0;
  opacity: 0;
  transition: opacity 100ms 0ms;
}
.CreateItemButtonComponent.focused::before {
  opacity: 1;
  transition: opacity 100ms 50ms;
}

.CategoryButton {
  background: none;
  font: inherit;
  border: none;
}

.Button {
  display: block;
  flex: 1;
  padding-left: 0.5rem;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  background: transparent;
}

.CreateItemButtonComponent .IconButton {
  width: 3rem;
}
@media (hover: hover) {
  .CreateItemButtonComponent .IconButton {
    visibility: hidden;
  }
  .CreateItemButtonComponent:hover .IconButton,
  .CreateItemButtonComponent.focused .IconButton,
  .CreateItemButtonComponent:focus-within .IconButton {
    visibility: visible;
  }
}
