.EditOrdersComponent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: var(--background-color);
  user-select: none;
  padding-bottom: 3rem;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 3rem env(safe-area-inset-left);
}
.EditOrdersComponent__window__footer {
  display: none;
}
.EditOrdersComponent__order + .EditOrdersComponent__orders {
  display: none;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  .EditOrdersComponent {
    background: hsla(var(--text-color-hsl-value), 0.5);
  }
  .EditOrdersComponent__window {
    padding: 1.5rem;
    background: var(--background-color);
    margin: 3rem;
  }
  .EditOrdersComponent__window__body {
    display: flex;
  }
  .EditOrdersComponent__window__footer {
    display: block;
    margin-top: 1.5rem;
  }
  .EditOrdersComponent__order + .EditOrdersComponent__orders {
    display: block;
  }
  .EditOrdersComponent__orders {
    width: 16rem;
    margin-right: 1rem;
  }
  .EditOrdersComponent__orders__back,
  .EditOrderComponent__back {
    display: none !important;
  }
  .EditOrdersComponent__order {
    flex: 1;
    order: 1;
  }
}

.EditOrdersComponent__orders__new {
  --button-bg-color: var(--small-feature-color);
  color: var(--text-color);
  position: relative;
  z-index: 998;
}

.EditOrderComponent__name {
  display: block;
  width: 100%;
  border: 0;
  height: 3rem;
  line-height: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.EditOrderComponent__delete {
  --button-bg-color: #f44336;
  position: relative;
  z-index: 998;
}

.SortableOrder,
.SortableCategory {
  z-index: 1000;
}
.SortableOrder {
  padding-left: 0.5rem;
}
.SortableOrder__name,
.SortableCategory__name {
  flex: 1;
}
.SortableCategory__delete,
.SortableOder__delete {
  width: 3rem;
}

.SortableOrder__dragging,
.SortableCategory__dragging {
  box-shadow: 0 0 10px var(--text-color);
}

.SortableCategory {
  position: relative;
}
.SortableCategory--colorPickerOpen {
  z-index: 1001;
}
.SortableCategory__icon {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
.SortableCategory__colorPickerContainer {
  position: absolute;
  top: -1rem;
  left: 3rem;
  z-index: 1001;
}

.SortableCategory:nth-last-child(1) .SortableCategory__colorPickerContainer,
.SortableCategory:nth-last-child(2) .SortableCategory__colorPickerContainer {
  bottom: -1rem;
  top: auto;
}

.DragHandle {
  width: 3rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}
.DragHandle svg {
  fill: currentColor;
  width: 60%;
  display: block;
  height: 100%;
}
