.EditItemComponent {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: stretch;
  border-bottom: 1px solid #eee;
  user-select: none;
}

.EditItemComponent__category {
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  background: transparent;
}

.EditItemComponent__name {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: .5rem;
}
.EditItemComponent__name:focus-within {
  box-shadow: 0 0 3px blue, inset 0 0 3px blue;
  background: white;
}
.EditItemComponent__name:focus {
  background: transparent;
}
.EditItemComponent__name > * {
  flex: 1;
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  max-height: 2.4rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  resize: none;
}
.EditItemComponent__name > textarea:focus {
  box-shadow: none;
}

@media (min-width: 30rem) {
  .EditItemComponent {
    border: 0;
    background-color: #f7f7f7;
    margin-bottom: .5rem;
  }
}

.EditItemComponent button {
  width: 3rem;
}
