.EditItemComponent {
  display: flex;
  min-height: 3rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--small-feature-color);
  user-select: none;
}

.Category {
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  background: transparent;
}

.Name {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.Name:focus-within {
  box-shadow: 0 0 3px var(--focus-color), inset 0 0 3px var(--focus-color);
  background: var(--background-color);
}
.Name > * {
  flex: 1;
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  resize: none;
}
.Name > textarea {
  background: transparent;
  color: var(--text-color);
}
.Name > textarea:focus {
  box-shadow: none;
}

@media (min-width: 30rem) {
  .EditItemComponent {
    border: 0;
    background-color: var(--box-color);
    margin-bottom: 0.5rem;
  }
}

.Category, .Delete { 
  width: 3rem;
  height: 3rem
}

@media print {
  .EditItemComponent {
    border: none;
    background: none;
    height: auto;
    break-inside: avoid;
    margin-bottom: 0.1rem;
  }
  .Category,
  .Delete {
    display: none;
  }
}
