.EditOrdersComponent {
  /* establish a new stacking context */
  position: relative;
  z-index: 0;
}

.Order + .Orders {
  display: none;
}
@media (min-width: 40rem) {
  .EditOrdersComponent {
    display: flex;
  }
  .Order + .Orders {
    display: block;
  }
  .Orders {
    width: 33%;
    min-width: 15rem;
    margin-right: 1rem;
  }
  .Back,
  .Back {
    display: none !important;
  }
  .Order {
    flex: 1;
    order: 1;
  }
}

.New {
  --button-bg-color: var(--small-feature-color) !important;
  color: var(--text-color) !important;
  position: relative;
  z-index: 998;
}
.Delete {
  --button-bg-color: var(--failure-color) !important;
  color: var(--text-color) !important;
  position: relative;
  z-index: 998;
}

.Name {
  display: block;
  width: 100%;
  border: 0;
  height: 3rem;
  line-height: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background: none;
  color: inherit;
}

.SortableOrder,
.SortableCategory {
  z-index: 1000;
}
.SortableOrder {
  padding-left: 0.5rem;
}
.Name,
.Name {
  flex: 1;
}
.Delete,
.Delete {
  width: 3rem;
  flex-shrink: 0;
}

.SortableOrder.dragging,
.SortableCategory.dragging {
  box-shadow: 0 0 10px var(--text-color);
}

.SortableCategory {
  position: relative;
}
.SortableCategory.colorPickerOpen {
  z-index: 1001;
}
.Icon {
  width: 3rem;
  height: 3rem;
}
.Input {
  width: auto;
  border: 0;
  background: none;
  text-align: center;
  font: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ColorPickerContainer {
  position: absolute;
  top: -1rem;
  left: 3rem;
  z-index: 1001;
}

.SortableCategory:nth-child(4) ~ .SortableCategory:nth-last-child(1) .ColorPickerContainer,
.SortableCategory:nth-child(4) ~ .SortableCategory:nth-last-child(2) .ColorPickerContainer {
  top: auto;
  bottom: -1rem;
}

.Name {
  align-self: stretch;
  display: block;
  border: none;
  appearance: none;
  font: inherit;
  background: none;
  color: inherit;
}

.DragHandle {
  width: 3rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  flex-shrink: 0;
}
.DragHandle svg {
  fill: currentColor;
  width: 60%;
  display: block;
  height: 100%;
}
