.Body {
  margin: 3rem auto 0;
  margin-top: calc(3rem + env(safe-area-inset-top));
}
.Section {
  max-width: var(--single-col-max-width);
  margin: 0 auto;
}
.Footer {
  max-width: var(--single-col-max-width);
  margin: 2rem auto;
}
@media (min-width: 30rem) {
  .Body {
    margin-top: 4rem;
  }
}
@media (min-width: 40rem) {
  .Body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--two-col-max-width);
  }
  .Section {
    flex: 1;
    max-width: none;
  }
  .Section {
    margin: 0;
    padding-right: 1rem;
  }
  .Section:first-child {
    padding-left: 1rem;
    padding-left: max(1rem, env(safe-area-inset-left));
  }
  .Section:last-child {
    padding-right: 1rem;
    padding-right: max(1rem, env(safe-area-inset-right));
  }
  .Footer {
    max-width: var(--two-col-max-width);
    padding: 0 1rem;
    padding: 0 max(1rem, env(safe-area-inset-right)) 0 max(1rem, env(safe-area-inset-left));
  }
}

@media (min-width: 50rem) {
  .Body {
    margin-top: 5rem;
  }
  .Section {
    padding-right: 2rem;
  }
  .Section:first-child {
    padding-left: 2rem;
    padding-left: max(2rem, env(safe-area-inset-left));
  }
  .Section:last-child {
    padding-right: 2rem;
    padding-right: max(2rem, env(safe-area-inset-right));
  }
  .Footer {
    padding: 0 2rem;
    padding: 0 max(2rem, env(safe-area-inset-right)) 0 max(2rem, env(safe-area-inset-left));
  }
}

@media print {
  .Body {
    display: block;
  }
  .Footer {
    display: none;
  }
}
