* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;

  --theme-color: hsl(122, 39%, 49%);
  --text-color-hsl-value: 0, 0%, 0%;
  --text-deemphasized-color: hsl(0, 0%, 50%);
  --background-color: white;
  --small-feature-color: hsl(0, 0%, 92%);
  --box-color: hsl(0, 0%, 97%);
  --focus-color: blue;
  --failure-color-hsl-value: 4, 90%, 58%;
  --success-color-hsl-value: 122, 39%, 49%;
  
  --text-color: hsl(var(--text-color-hsl-value));
  --failure-color: hsl(var(--failure-color-hsl-value));
  --success-color: hsl(var(--success-color-hsl-value));
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: hsl(122, 32%, 45%);
    --text-color-hsl-value: 0, 100%, 100%;
    --background-color: black;
    --small-feature-color: hsl(0, 0%, 15%);
    --box-color: hsl(0, 0%, 10%);
    --success-color-hsl-value: 122, 32%, 45%;
  }
}

body {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color)
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  background: var(--background-color);
  border: none;
  font-family: inherit;
  font-size: .8rem;
  border: 1px solid var(--text-color);
  color: var(--text-color)
}


:not(select):focus {
  outline: none;
  box-shadow: 0 0 3px var(--focus-color), inset 0 0 3px var(--focus-color);
}

button.PaddedButton {
  margin: .2rem;
  padding: .2rem;
}

.Button {
  --button-color: var(--theme-color);
  --button-bg-color: var(--button-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: solid var(--button-color);
  border-width: 2px 0;
  background: var(--background-color);
  margin-bottom: -2px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}
.Button--padded {
  padding: 0 .5rem;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  .Button {
    border: 0;
    margin-bottom: .5rem;
    color: white;
    background: var(--button-bg-color);
  }
}
