* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;

  /* COLORS */
  --theme-color-hsl-value: 122, 39%, 49%;
  --theme-color: hsl(var(--theme-color-hsl-value));
  --text-color-hsl-value: 0, 0%, 0%;
  --text-deemphasized-color: hsl(0, 0%, 50%);
  --text-on-theme-color-hsl-value: 0, 100%, 100%;
  --background-color-hsl-value: 0, 100%, 100%;
  --small-feature-color: hsl(0, 0%, 92%);
  --box-color: hsl(0, 0%, 97%);
  --focus-color: blue;
  --failure-color-hsl-value: 4, 90%, 58%;

  --text-color: hsl(var(--text-color-hsl-value));
  --text-on-theme-color: hsl(var(--text-on-theme-color-hsl-value));
  --background-color: hsl(var(--background-color-hsl-value));
  --failure-color: hsl(var(--failure-color-hsl-value));

  /* WIDTHS */
  --single-col-max-width: 30rem;
  --two-col-max-width: 80rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-hsl-value: 122, 32%, 45%;
    --text-color-hsl-value: 0, 100%, 100%;
    --background-color-hsl-value: 0, 0%, 0%;
    --small-feature-color: hsl(0, 0%, 15%);
    --box-color: hsl(0, 0%, 10%);
  }
}

@media print {
  :root {
    font-size: 12px;
  }
}

body {
  /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/  */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  background: var(--background-color);
  border: none;
  font-family: inherit;
  font-size: 0.8rem;
  border: 1px solid currentColor;
  color: inherit;
}

:not(select):focus {
  outline: none;
  box-shadow: 0 0 3px var(--focus-color), inset 0 0 3px var(--focus-color);
}

button.PaddedButton {
  margin: 0.2rem;
  padding: 0.2rem;
}

.Button {
  --button-color: var(--theme-color);
  --button-bg-color: var(--button-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: solid var(--button-color);
  border-width: 2px 0;
  background: var(--background-color);
  margin-bottom: -2px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}
.Button--padded {
  padding: 0 0.5rem;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  .Button {
    border: 0;
    margin-bottom: 0.5rem;
    color: var(--text-on-theme-color);
    background: var(--button-bg-color);
  }
}

#shareAPIPolyfill-container button {
  color: black;
}

/* HACK: Copy CSS from share api polyfill */
#shareAPIPolyfill-backdrop,
#shareAPIPolyfill-container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  will-change: opacity;
}
#shareAPIPolyfill-backdrop {
  transition: opacity linear 250ms;
  background-color: rgba(0, 0, 0, 0.6);
}
#shareAPIPolyfill-container {
  background-color: #f9f9f9;
  top: auto;
  max-width: 400px;
  height: auto;
  transition-property: transform, opacity;
  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-delay: 150ms;
  transform: translateY(100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', arial, sans-serif, 'Microsoft JhengHei';
}
#shareAPIPolyfill-backdrop.visible,
#shareAPIPolyfill-container.visible {
  opacity: 1;
  pointer-events: all;
}
#shareAPIPolyfill-container.visible {
  transform: translateY(0);
}
#shareAPIPolyfill-container .shareAPIPolyfill-header {
  background: #eee;
}
#shareAPIPolyfill-container .shareAPIPolyfill-header .shareAPIPolyfill-icons-container {
  display: flex;
}
#shareAPIPolyfill-container .shareAPIPolyfill-header-title {
  background-color: #e0e0e0;
  padding: 10px 18px;
  color: #424242;
  font-weight: 600;
}
#shareAPIPolyfill-container .shareAPIPolyfill-body {
  border-top: solid 1px #eee;
}
#shareAPIPolyfill-container .shareAPIPolyfill-footer {
  width: 100%;
  display: block;
  border: none;
  transition: opacity ease-in 250ms;
  border-top: solid 1px #eee;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  opacity: 0.5;
}
#shareAPIPolyfill-container .shareAPIPolyfill-footer:hover {
  opacity: 1;
}
#shareAPIPolyfill-container .shareAPIPolyfill-icons-container {
  display: flex;
  flex-wrap: wrap;
}
#shareAPIPolyfill-container .tool-icon {
  border: none;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  padding: 20px 0;
}
#shareAPIPolyfill-container .tool-icon:hover {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.125);
}
#shareAPIPolyfill-container .the-icon-title {
  padding-top: 10px;
  display: block;
}
.shareAPIPolyfill-header-title .the-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding-right: 5px;
  vertical-align: '-2px';
}
.shareAPIPolyfill-icons-container.title .tool-icon .the-icon,
.shareAPIPolyfill-icons-container.body .tool-icon .the-icon {
  display: block;
  margin: auto;
  width: 42px;
  height: 36px;
}
.shareAPIPolyfill-icons-container.title .tool-icon .the-icon {
  height: 24px;
}
.shareAPIPolyfill-icons-container .hidden {
  display: none !important;
}
