.OrderSelectComponent {
  background: var(--box-color);
  display: flex;
  padding: 0.5rem;
  height: 2.5rem;
  align-items: center;
}
.Text {
  padding-right: 0.5rem;
}
.Select {
  flex: 1;
}
@media (min-width: 30rem) {
  .OrderSelectComponent {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    height: 3rem;
    background: var(--theme-color);
    color: #fff;
    scroll-snap-coordinate: 0 -4rem;
  }
}
@media print {
  .OrderSelectComponent {
    display: none;
  }
}
