.PillItemComponent {
    display: inline-block;
    padding: .1em .6em;
    border-radius: .8em;
    background: var(--small-feature-color);
    color: var(--text-color);
}
.PillItemComponent .CategoryTextComponent {
    margin: -.1em 0 -.1em -.6em;
}