.ShoppingListItemsComponent {
  transition: min-height 200ms ease-in-out;
}

.ShoppingListItemsComponent__emptyList {
  text-align: center;
  padding: 2rem 0 0;
}
.ShoppingListItemsComponent__emptyList p {
  margin-bottom: 0.2rem;
}
@media (min-width: 30rem) {
  .ShoppingListItemsComponent__emptyList {
    padding: 0.5rem;
    background-color: var(--box-color);
  }
}
.ShoppingListItemsComponent__emptyList__addCallout.twoCol {
  display: none;
}
@media (min-width: 40rem) {
  .ShoppingListItemsComponent__emptyList__addCallout.twoCol {
    display: block;
  }
  .ShoppingListItemsComponent__emptyList__addCallout.singleCol {
    display: none;
  }
}
