.ShoppingListItemsComponent {
  transition: min-height 200ms ease-in-out;
}

.EmptyList {
  text-align: center;
  padding: 2rem 0 0;
}
.EmptyList p {
  margin-bottom: 0.2rem;
}
@media (min-width: 30rem) {
  .EmptyList {
    padding: 0.5rem;
    background-color: var(--box-color);
  }
}
.AddCallout.twoCol {
  display: none;
}
@media (min-width: 40rem) {
  .AddCallout.twoCol {
    display: block;
  }
  .AddCallout.singleCol {
    display: none;
  }
}
