.ShoppingListComponent__body {
  margin-top: 3rem;
}
.ShoppingListComponent__section {
  max-width: 30rem;
  margin: 0 auto;
}
.ShoppingListComponent__list {
  transition: min-height 200ms ease-in-out;
}
.ShoppingListComponent__footer {
  max-width: 30rem;
  margin: 2rem auto;
}
.ShoppingListComponent__footer button {
  margin: .2rem;
  padding: .2rem;
}
@media (min-width: 30rem) {
  .ShoppingListComponent__body {
    margin-top: 4rem;
  }
}
@media (min-width: 40rem) {
  .ShoppingListComponent__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ShoppingListComponent__section {
    flex: 1;
  }
  .ShoppingListComponent__section {
    margin: 0;
    padding-right: 1rem;
  }
  .ShoppingListComponent__section:first-child {
    padding-left: 1rem;
  }
  .ShoppingListComponent__footer {
    max-width: 60rem;
    padding: 0 1rem;
  }
}

@media (min-width: 50rem) {
  .ShoppingListComponent__body {
    margin-top: 5rem;
  }
  .ShoppingListComponent__section {
    padding-right: 2rem;
  }
  .ShoppingListComponent__section:first-child {
    padding-left: 2rem;
  }
  .ShoppingListComponent__footer {
    padding: 0 2rem;
  }
}

.ShoppingListComponent__emptyList {
  text-align: center;
  padding: 2rem 0 0;
}
.ShoppingListComponent__emptyList p {
  margin-bottom: .2rem;
}
@media (min-width: 30rem) {
  .ShoppingListComponent__emptyList {
    padding: .5rem;
    background-color: #f7f7f7;
  }
}
.ShoppingListComponent__emptyList__addCallout--twoCol {
  display: none;
}
@media (min-width: 40rem) {
  .ShoppingListComponent__emptyList__addCallout--twoCol {
    display: block;
  }
  .ShoppingListComponent__emptyList__addCallout--singleCol {
    display: none;
  }
}
