.TopBarComponent {
  position: fixed;
  z-index: 100;
  top: 0;
  background: var(--theme-color);
  width: 100%;
  padding-top: env(safe-area-inset-top);
  color: var(--text-on-theme-color);
}
@media (prefers-color-scheme: dark) {
  @supports (backdrop-filter: blur(10px)) {
    .TopBarComponent {
      background: hsla(var(--theme-color-hsl-value), .7);
      backdrop-filter: blur(10px);
    }
  }
}
.TopBarComponent__content {
  max-width: var(--single-col-max-width);
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 40rem) {
  .TopBarComponent--responsive .TopBarComponent__content {
    max-width: var(--two-col-max-width);
    --top-bar-side-padding: 1rem;
    padding: 0 var(--top-bar-side-padding);
    padding: 0 max(var(--top-bar-side-padding), env(safe-area-inset-right)) 0 max(var(--top-bar-side-padding), env(safe-area-inset-left))
  }
}
@media (min-width: 50rem) {
  .TopBarComponent--responsive .TopBarComponent__content {
    --top-bar-side-padding: 2rem;
  }
}
.TopBarComponent__back {
  width: 3.5rem;
  flex-shrink: 0;
  border: 0;
  font-size: 1.5rem;
  background: none;
  color: var(--text-on-theme-color);
}


.EditTitleComponent {
  font-weight: bold;
  font-size: 2rem;
  font-family: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-align:center;
  line-height: 3rem;
  background: transparent;
  appearance: none;
  border: 0;
  color: var(--text-on-theme-color);
}


.SyncStatusComponent {
  width: 3.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: .7rem;
  border: 0;
  font-size: 2rem;
  font-family: inherit;
  letter-spacing: -.65rem;
  transition: all 200ms ease-in-out;
  background: none;
  overflow: visible;
  color: var(--text-on-theme-color);
}
.SyncStatusComponent--syncing {
  animation: 1s ease-in infinite blink;
}
.SyncStatusComponent--failure {
  color: var(--failure-color);
}
.SyncStatusComponent--failure.SyncStatusComponent--syncing {
  animation: 1s ease-in infinite blinkRed;
}


@keyframes blink {
  0% {
    text-shadow: 0 0 0px hsla(var(--text-on-theme-color-hsl-value), .6);
  }
  90% {
    text-shadow: 0 0 20px hsla(var(--text-on-theme-color-hsl-value), .4);
  }
  100% {
    text-shadow: 0 0 20px hsla(var(--text-on-theme-color-hsl-value), .0);
  }
}
@keyframes blinkRed {
  0% {
    text-shadow: 0 0 0px hsla(var(--failure-color-hsl-value), .6);
  }
  90% {
    text-shadow: 0 0 20px hsla(var(--failure-color-hsl-value), .4);
  }
  100% {
    text-shadow: 0 0 20px hsla(var(--failure-color-hsl-value), .0);
  }
}
