.TopBarComponent {
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 2px solid #4CAF50;
  background: white;
  width: 100%;
}
.TopBarComponent__content {
  max-width: 30rem;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 40rem) {
  .TopBarComponent__content {
    max-width: 60rem;
    padding: 0 1rem;
  }
}
@media (min-width: 50rem) {
  .TopBarComponent__content {
    padding: 0 2rem;
  }
}
.TopBarComponent__status {
  width: 3.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: .7rem;
  border: 0;
  font-size: 2rem;
  font-family: inherit;
  letter-spacing: -.65rem;
}
.TopBarComponent__status--syncing {
  animation: 1s ease-in infinite blink;
}
.TopBarComponent__status--failure {
  color: rgba(244, 67, 54, 1);
}
.TopBarComponent__status--failure.TopBarComponent__status--syncing {
  animation: 1s ease-in infinite blinkRed;
}
.TopBarComponent__content > h1,
.TopBarComponent__content > input {
  font-weight: bold;
  font-size: 2rem;
  font-family: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  padding: 0 .5rem;
  text-align:center;
}

.TopBarComponent__content > h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.TopBarComponent--dirty .TopBarComponent__content > h1,
.TopBarComponent--dirty .TopBarComponent__content > input {
  font-style: italic;
}

@keyframes blink {
  0% {
    text-shadow: 0 0 0px rgba(0, 0, 0, .6);/**/
  }
  90% {
    text-shadow: 0 0 20px rgba(0, 0, 0, .4);/**/
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 0, 0, .0);/**/
  }
}
@keyframes blinkRed {
  0% {
    text-shadow: 0 0 0px rgba(244, 67, 54, .6);/**/
  }
  90% {
    text-shadow: 0 0 20px rgba(244, 67, 54, .4);/**/
  }
  100% {
    text-shadow: 0 0 20px rgba(244, 67, 54, .0);/**/
  }
}
